
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading"></div>

                    <a class="nav-link" href="/CariPanel/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-leaf"></i></div>
                        Hizmetlerimiz
                    </a>
                    <a class="nav-link" href="/CariPanel/Siparislerim/">
                        <div class="sb-nav-link-icon"><i class="fa fa-handshake"></i></div>
                        Takım Arkadaşlarımız
                    </a>
                    <a class="nav-link" href="/CariPanel/KargoTakip/">
                    <div class="sb-nav-link-icon"><i class="fa fa-chart-pie"></i></div>
                        Grafikler
                    </a>
                    <a class="nav-link" href="/CariPanel/GelenMesaj/">
                    <div class="sb-nav-link-icon"><i class="fa fa-percent"></i></div>
                        İstatistikler
                    </a>
                    <a class="nav-link" href="/CariPanel/LogOut/">
                    <div class="sb-nav-link-icon"><i class="fa fa-table"></i></div>
                        Duyurular
                    </a>
                    <a class="nav-link" href="/CariPanel/LogOut/">
                    <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                        Gelen Mesajlar
                    </a>
                    <a class="nav-link" href="/CariPanel/LogOut/">
                    <div class="sb-nav-link-icon"><i class="fa fa-id-card"></i></div>
                        Adres Bilgileri
                    </a>
                    <a class="nav-link" href="/CariPanel/LogOut/">
                    <div class="sb-nav-link-icon"><i class="fa fa-camera"></i></div>
                        Görseller
                    </a>
                    <a class="nav-link" href="/CariPanel/LogOut/">
                        <div class="sb-nav-link-icon"><i class="fa fa-lock"></i></div>
                        Çıkış Yap
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Designed by:</div>
                Fatih ATMACA
            </div>
        </nav>
    </div>
    

