@using EntitiyLayer.Models
@model List<Team>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LTE_Admin.cshtml";
}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Personel Listesi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th>Sıra No</th>
                            <th>Ad</th>
                            <th>Görev</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @{int sirano = 0; }
                        @foreach(var x in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/images/faces/face1.jpg" alt="image" />
                                </td>
                               <td>@{sirano++;} @sirano</td>
                               <td>@x.PersonName</td>
                               <td>@x.Title</td>
                                <td><a href="/Team/DeleteTeam/@x.TeamID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Team/EditTeam/@x.TeamID" class="btn btn-outline-warning">Düzenle</a></td>
                               
                            </tr>
                        }
                       
                    </tbody>
                </table>
                <a href="/Team/AddTeam/" class="btn btn-success">Yeni Personel Girişi</a>
            </div>
        </div>
    </div>
</div>

